<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New Tool/Platform Review</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/tools" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Kubernetes">
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" id="image" title="Only images from images.unsplash.com allowed. See link below for instructions." placeholder="https://images.unsplash.com/..." required>
                    <small>Click <a href="https://youtu.be/Bn3weNRQRDE">here</a> for tutorial on how to copy unsplash urls.</small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="5" id="description" name="description" placeholder="an open-source container-orchestration system for automating application deployment, scaling, and management"></textarea>
                </div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <textarea class="form-control" rows="5" id="review" name="review" placeholder="Kubernetes is a container-centric platform which can be run on in house data centers as well as public cloud"></textarea>
                </div>
                <div class="form-group">
                    <label for="rating">Rating out of 5/label>
                    <input class="form-control" type="number" name="rating" id="rating" placeholder="3" step="1" min="0" max="5" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/tools">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

