<!DOCTYPE html>
<html>
    <head>
        <title>Vagrant Project</title>
        <base href="/">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
	    <div id="landing-header">
	        <h1>Welcome to my Vagrant project</h1>
			<h3><i class="fas fa-address-card"></i> <%= localIP %> </h3>
			<hr>
			<!-- You can add extra text between the <h3> and </h3> below to see the automatic update when refreshed-->
			<h3> </h3>
			<!-- You can add extra text between the <h3> and </h3> above to see the automatic update when refreshed -->
		   </div>
		   
	    <ul class="slideshow">
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
	    </ul>
	</body>
</html>
